<h1>Proyects#new</h1>
<p>Find me in app/views/proyects/new.html.erb</p>
<%= form_with model: @proyect, url: proyects_create_path do |f| %>
  
  <% if @proyect.errors.any? %>
    <div id="error_explanation">
     <h2><%= pluralize(@proyect.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% @proyect.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name %>
  <%= f.text_field :description %>
  <%= f.date_field :start_date %>
  <%= f.date_field :end_date %>
  <%= f.select(:status,['propuesta','progreso','terminado'])%>
  <%= f.submit 'Guardar' %>
  
<% end %>